#! /usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SHELL=/bin/bash

package=uasm

SRC_DIR_C = ./

# This has to be exported to make some magic below work.
export DH_OPTIONS

override_dh_auto_build:
	dh_auto_build -- all -C $(SRC_DIR_C) -f makefile.clang

# empty override, fills example directory with lots of files
override_dh_auto_test:

override_dh_auto_clean:
	$(MAKE) clean -C $(SRC_DIR_C) -f makefile.clang
	rm -rf GccUnixR

#override_dh_auto_install:
#	dh_auto_install

%:
	dh $@ --buildsystem=makefile
