name: C/C++ CI

on:
  push:
    branches: [ v2.50 ]
  pull_request:
    branches: [ v2.50 ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: :&&! ./configure
    - name: make
      run: make -fgccLinux64.mak
    - name: make check
      run: make -fgccLinux64.mak check
    - name: make distcheck
      run: make -fgccLinux64.mak distcheck
